<div class="top-brands ng-scope">
    <div class="container">
        <h2>Productos registrados</h2>
        <hr>
        <div class="col-lg-12">
            <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <div class="row">
                    <div class="col-sm-12">
                        <table id="example" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Codigo</th>
                                    <th>Descripcion</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Estado</th>
                                    <th>Usuario</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="producto in listProductos">
                                    <td>{{$index + 1}}</td>
                                    <td>{{producto.code}}</td>
                                    <td>{{producto.decription}}</td>
                                    <td>{{producto.precio| currency}}</td>
                                    <td>{{producto.cantidad}}</td>
                                    <td>{{producto.estado}}</td>
                                    <td>{{producto.userreg.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default" ng-click="editar(producto.id)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="eliminarProducto(producto)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Modals-->
<div class="modal fade" id="modelEliminarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Está seguro de eliminar el producto seleccionado ??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="confirmarEliminarProducto()">Eliminar</button>
            </div>
        </div>
    </div>
</div>


